<!-- footer starting -->
    <div class="footer">
        <h1>Awesome Blogs</h1>
    </div>
    <!-- footer ending -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <script>

        // hover effect on nav-bar buttons
        $('.nav-list ul li a').hover(function(){
            $(this).css('color', 'white')
        }, function(){
            $(this).css('color', 'black')
        })
        
        // $('.home-compose').hover(function(){
        //   $(this).addClass('hover')  
        // }, function(){
        //     $(this).removeClass('hover')
        // })
    </script>

</body>

</html>