<%- include('partials/header'); -%>
<div class="post">
    <div class="heading">
        <h1><%= heading %></h1>
    </div>
    <p class="post-p"><%= content %></p>
</div>
<%- include('partials/footer'); -%>
